<h3>стояночные регионы<h3>
<hr>
<table class="hovertable">
  <th>название</th>
  <th>координаты</th>
  <th>&nbsp</th>
  <th>&nbsp</th>
  <% @regions.each do |region| %>
    <tr>
      <td><%= region.name %></td>
      <td>
		<% unless region.value.nil? %>
          <% region.value.each do |p| %>
			lon: <strong><%= p[0] %></strong> lat: <strong><%= p[1] %></strong><br>
          <% end %>
		<% else %>
		  нет координат
		<% end %>
      </td>
	  <td><%= link_to "Изменить", edit_defset_parking_region_path(region) %></td>
	  <td>
		<%= form_tag(destroy_defset_parking_region_path(region), method: "post") do %>
		  <%= submit_tag("Удалить") %>
		<% end %>
	  </td>
    </tr>
  <% end %>
</table>
<hr>
<%= link_to 'Создать стояночный регион', new_defset_parking_region_path %>
