<h1>Список настроек по умолчанию</h1>
<hr>

<%= link_to 'Денежная единица', new_defset_monetary_unit_path %>
<br>
<%= link_to 'Таксометр', new_defset_taximeter_path %>
<br>
<%= link_to 'Кредитная политика', new_defset_credit_policy_path %>
<br>
<%= link_to 'Время периодичекого списания денег со счетов регулярных водителей', new_defset_time_dec_score_regdrv_path %>
<br>
<%= link_to 'Создать стояночный регион', new_defset_parking_region_path %>
<br>
<%= link_to 'Показать все стояночные регионы', index_defset_parking_region_path %>
