<style type="text/css">
 table.mystyle
{
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: solid;
}
.mystyle td, .mystyle th
{
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    text-align: center;
}
</style>

<table class="mystyle">
	<% for i in 2..@num_queues do %>
		<tr>
			<td><div align="left"><%= @points[i]['name'] %></div></td>
			<% unless @points[i]['queue'].empty? %>
				<% @points[i]['queue'].each do |q| %>
					<% if q['car_num'] == @user.car %>
						<td bgcolor="Magenta" align="center">
							<font color="black" face="Geneva, Arial" size="3">
								<strong><%= q['car_num'] %></strong>
							</font>
						</td>
					<% else %>
						<% if q['car_state'] == 0 %>
							<td bgcolor="White" align="center">
								<%= q['car_num'] %>
							</td>
						<% end %>
						<% if q['car_state'] == 1 %>
							<td bgcolor="Green" align="center">
								<font color="white" face="Geneva, Arial" size="3">
									<%= q['car_num'] %>
								</font>
							</td>
						<% end %>
						<% if q['car_state'] == 2 %>
							<td bgcolor="Blue" align="center">
								<font color="white" face="Geneva, Arial" size="3">
									<%= q['car_num'] %>
								</font>
							</td>
						<% end %>
						<% if q['car_state'] == 3 %>
							<td bgcolor="Yellow" align="center">
								<%= q['car_num'] %>
							</td>
						<% end %>
						<% if q['car_state'] == 4 %>
							<td bgcolor="Lime" align="center">
								<%= q['car_num'] %>
							</td>
						<% end %>
						<% if q['car_state'] == 5 %>
							<td bgcolor="Cyan" align="center">
								<%= q['car_num'] %>
							</td>
						<% end %>
						<% if q['car_state'] == 6 %>
							<td bgcolor="Red" align="center">
								<%= q['car_num'] %>
							</td>
						<% end %>
					<% end %>
				<% end %>
				<% cols = @max_col - @points[i]['queue'].size %>
				<% for j in 1..cols do %>
					<td>&nbsp</td>
				<% end %>
			<% else %>
				<td colspan="<%= @max_col %>">
					<font color="black" face="Geneva, Arial" size="3">
						машин нет
					</font>
				</td>
			<% end %>
		</tr>
	<% end %>
</table>
