<ul>
	<li><%= link_to "Тест запроса очереди", api_queue_path(current_user.login,current_user.password) %></li>
	<li><%= link_to "Тест запроса заказа", api_order_path(current_user.login,current_user.password) %></li>
</ul>
<hr>
Order update<br>
<%= form_tag(api_order_update_path(current_user.login,current_user.password), method: :post, authenticity_token: false) do -%>
	<%= text_field_tag 'uvedomlen', '2' %>
	<%= submit_tag 'Save' %>
<% end %>
<hr>
Стать в очередь<br>
<%= form_tag(api_qpush_path(current_user.login,current_user.password), method: :post, authenticity_token: false) do -%>
	Идентификатор точки<br>
	<%= text_field_tag 'point_id', '2' %><br>
	Код состояния<br>
	<%= text_field_tag 'state', '1' %><br>
	Удалить заказ<br>
	<%= text_field_tag 'delzak', '1' %><br>
	<%= submit_tag 'Save' %>
<% end %>
<hr>
<%= link_to "Послать сообщение обновления таблиц", api_refresh_orders_path(current_user.login, current_user.password) %>
<hr>
<%= form_tag(api_dispreg_path(current_user.login,current_user.password), method: :post, authenticity_token: false) do -%>
	<%= submit_tag 'Зарегистрировать диспетчера в очереди' %>
<% end %>
<hr>
<%= form_tag(api_caronorder_path(current_user.login,current_user.password), method: :post, authenticity_token: false) do -%>
	Машина<br>
	<%= text_field_tag 'car', '2' %><br>
	Заказ<br>
	<%= text_field_tag 'order_id', '1' %><br>
	<%= submit_tag 'Поставить машину на заказ' %>
<% end %>
<hr>
<%= form_tag(api_zvonkiupd_path(current_user.login,current_user.password), method: :post, authenticity_token: false) do -%>
	Машина<br>
	<%= text_field_tag 'car_id', '2' %><br>
	<%= submit_tag 'Обновить звонки' %>
<% end %>
<hr>
<%= form_tag(api_state_update_path(current_user.login,current_user.password), method: :post, authenticity_token: false) do -%>
	Код состояния<br>
	<%= text_field_tag 'state', '2' %><br>
	<%= submit_tag 'Обновить состояние' %>
<% end %>
<hr>
<%= link_to "Показать место куда должна приехать машина на карте", api_goal_path(current_user.login,current_user.password) %>
<hr>
<%= form_tag(api_setcoord_path(current_user.login,current_user.password), method: :post, authenticity_token: false) do -%>
	lat <%= text_field_tag 'lat', '45.5' %><br>
	lon <%= text_field_tag 'lon', '46.6' %><br>
	<%= submit_tag 'Записать координаты' %>
<% end %>
<hr>
<%= link_to "Показать трек для #{current_user.login}", track_show_path(current_user) %>
<hr>
<%= link_to "Нажать тревожную кнопку", api_alarm_path(current_user.login, current_user.password) %>
<hr>
<%= link_to "Получить последние координаты ВСЕХ машин", api_getlastdrivercoord_path(current_user.login, current_user.password) %>
<hr>
<%= link_to "Считать таксометр", api_taximeter_path(current_user.login, current_user.password) %>
<hr>
<%= link_to "Последние позиции для драйверов", api_lastposmap_path(current_user.login, current_user.password) %>
<hr>
<%= form_tag(api_smsdrivergotorder_path(current_user.login,current_user.password), method: :post, authenticity_token: false) do -%>
	Номер заказа <%= text_field_tag 'nozak', '1001' %><br>
	<%= submit_tag 'Послать SMS - водитель принял заказ' %>
<% end %>
<hr>
<%= form_tag(api_smsdriverarrived_path(current_user.login,current_user.password), method: :post, authenticity_token: false) do -%>
	Номер заказа <%= text_field_tag 'nozak', '1001' %><br>
	<%= submit_tag 'Послать SMS - водитель прибыл на место заказа' %>
<% end %>
<hr>
