<h1>Операции с водителями</h1>
<ul>
  <li><%= link_to "Создать водителя", user_new_path %></li>
	<li><%= link_to "Показать всех водителей", user_showall_path %></li>
	<li><%= link_to "Массово назначить таксометр для регулярных водителей", user_mass_assign_taximeret_reg_driver_path %></li>
	<li><%= link_to "Массово назначить кредитную политику для регулярных водителей", medit_creditpol_regdrv_path %></li>
  <li><%= link_to "Включить всем водителям ручную постановку в очередь", mupdate_mpinq_path %></li>
</ul>
