<style style="text/css">
.hoverTable {
  width:100%; 
  border-collapse:collapse; 
}
.hoverTable td { 
  padding:4px; border:#4e95f4 1px solid;text-align: center;
}
.hoverTable tr {
  background: #FFFFFF;
}
.hoverTable tr:hover {
      background-color: #ffff99;
}
.formInline {  margin: 0px; padding:0px; }
.formInline input { margin: 0px; padding:0px; }
</style>
<br>
<table class="hovertable">
  <thead>
    <tr>
      <th>&nbsp</th>
      <th>Имя</th>
      <th>Группа</th>
      <th>Пароль</th>
      <th>Создан</th>
      <th>Изменён</th>
      <th>Car</th>
      <th>Last IP</th>
      <th>Last ALARM</th>
      <th colspan="2">Таксометр</th>
      <th colspan="2">Кредит</th>
      <th>Описание машины</th>
      <th>&nbsp</th>
    </tr
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to "edit", user_edit_path(user) %></td>
      <td><%= user.login %></td>
      <td><%= user.group %></td>
      <td><%= user.password %></td>
      <td><%= user.created_at %></td>
      <td><%= user.updated_at %></td>
      <td><%= user.car %></td>
      <td><%= user.ip %></td>
      <td><%= user.alarm %></td>
      <td><%= link_to "Таксометр", user_show_settings_taximeter_path(user)  %></td>
      <td>изменить таксометр</td>
      <td><%= user.monetary_credit %></td>
      <td><%= link_to "изменить", edit_user_settings_credit_policy_path(user) %></td>
      <td><%= user.cardesc %></td>
      <td>
        <%= form_tag(user_destroy_path(user), method: "post", :class => "formInline") do %>
          <%= submit_tag("Удалить") %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
