<div id="user_nav">
  <%= link_to "home", root_path %> |
  <% if current_user %>
    <%= current_user.login %> |
    <%= link_to "Logout", logout_path %> |
    <%= link_to "API test", api_test_path %> |
    <%= link_to "Трэки", tracks_path %> |
    <%= link_to "Последнее место", all_last_point_path %>
  <% else %>
    <%= link_to "Signup", "sign_up_path" %> or
    <%= link_to "login", login_path %>
  <% end %>
</div>
