<div id="user_nav">
  <%= link_to "home", root_path %> |
  <% if current_user %>
    <%= current_user.login %> |
    <%= link_to "выход", logout_path %> |
    <%= link_to "Трэки", tracks_path %> |
    <%= link_to "Последнее место", all_last_point_path %> |
    <%= link_to "Водители", user_index_path %> |
    <% if current_user_admin? %>
      | <%= link_to "API test", api_test_path %>
      | <%= link_to "Настройки", showall_defsets_path %>
    <% end %>
  <% else %>
    <%= link_to "Signup", "sign_up_path" %> or
    <%= link_to "login", login_path %>
  <% end %>
</div>
